# House Rent Predictor By Sayan

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
from sklearn.model_selection import train_test_split, StratifiedShuffleSplit

In [2]:
data= pd.read_csv("data.csv")

In [3]:
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [4]:
data.shape

(506, 14)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       501 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [6]:
data.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,501.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284341,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.705587,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.884000,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208000,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.625000,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [ ]:
data.hist(bins=50, figsize=(20,15))

In [ ]:
data.columns

In [ ]:
data['CHAS'].value_counts()

In [ ]:
data['CRIM'].value_counts()

In [ ]:
data['RM'].value_counts()

## Train Test Spliting

In [ ]:
#for learning purpose
#def split_train_test(data, test_ratio):
 #   np.random.seed(42)
 #   shuffled = np.random.permutation(len(data))
  #  test_set_size = int(len(data) * test_ratio)
   # test_indices = shuffled[:test_set_size]
    #train_indices = shuffled[test_set_size:]
    #return data.iloc[train_indices], data.iloc[test_indices]

In [ ]:
#train_data, test_data= split_train_test(data, 0.2)

In [ ]:
#print(f"length of train data {len(train_data)} and length test data {len(test_data)}")

In [ ]:
train_data, test_data = train_test_split(data, test_size=0.2, random_state=42)

In [ ]:
print(f"length of train data {len(train_data)} and length test data {len(test_data)}")

In [ ]:
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for tain_index, test_index in split.split(data, data['CHAS']):
    train_data_set = data.loc[tain_index]
    test_data_set = data.loc[test_index]

In [ ]:
train_data['CHAS'].value_counts()

In [ ]:
train_data_set['CHAS'].value_counts()

In [ ]:
data = train_data_set.copy()

## Looking for correlation

In [ ]:
corr_matrix = data.corr()

In [ ]:
corr_matrix['MEDV'].sort_values(ascending = False)

In [ ]:
from pandas.plotting import scatter_matrix

In [ ]:
attributes = ['RM', 'ZN', 'MEDV', 'LSTAT']
scatter_matrix(data[attributes], figsize=(12, 8))

In [ ]:
data.plot(kind = 'scatter', x= 'RM', y= 'MEDV', alpha = 0.8 )

## Attribute combination

In [ ]:
data['TPR'] = data['TAX'] / data ["RM"]

In [ ]:
data['TPR']

## Missing Attribute

In [ ]:
#set the value of RM missing value to value(median)
median = data['RM'].median
median

In [ ]:
data['RM'].fillna(median)

In [ ]:
data.describe() #before we strting filling missng attribute

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
imp_median =SimpleImputer(strategy='median')
imp_median.fit(data)

In [ ]:
imp_median.statistics_

In [ ]:
x= imp_median.transform(data)
x

In [ ]:
data_tr = pd.DataFrame(x, columns = data.columns)

In [ ]:
data_tr.describe()

## Scikit -Learn Design

### pipeline create

In [ ]:
from sklearn.pipeline import Pipeline